// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header {
  height: 50px;
  border-bottom: solid #007bff 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px
}
.favourite {
  text-align: right;
}
.search {
  text-align: center;
}
.heading {
  font-size: 20px;
  font-weight: 600;
  padding: 30px 0 10px 0;
}
.textfield {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #007bff;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn {
  border: 1px solid #007bff;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px 0 20px 0
}

.btn-primary {
  color: black;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  color: #fff;
}

.results {
  font-size: 17px;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 340px;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  border-radius: 7px;
  box-shadow: -5px -5px 25px rgba(0, 0, 0, 0.705);
  margin: 50px auto;

  animation-name: rotate;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.footer {
  margin: 20px 0;
}

.top-card {
  width: 100%;
  /* height: 200px; */
}

.top-card img {
  width: 100%;
}

.top-card .menu-icon {
  position: relative;
  width: 22px;
  bottom: 13.7em;
  left: 1.1em;
  cursor: pointer;
}

.top-card .menu-icon .menu {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #000;
  margin-bottom: 6px;
  opacity: .5;
  transition: .4s;
}

.top-card .menu-icon .item1 {
  left: -5px;
}

.top-card .menu-icon .item2 {
  left: 5px;
}

.genres {
  font-weight: 500;
}

.top-card .menu-icon:hover .menu {
  left: 0;
  border-radius: 1px;
}

.top-card .name {
  width: 50%;
  height: 0;
  text-align: center;
  float: right;
}

.top-card .name p {
  position: relative;
  font-size: 50px;
  font-weight: 800;
  color: #000;
  opacity: .5;
  bottom: 140px;
  line-height: 50px;
  text-align: center;
}

.top-card .name span {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

// h1 {
//   font-size: 20px;
//   color: #000;
//   font-weight: 600;
//   margin: 12px 0;
//   border-bottom: 4px solid rgba(1, 106, 175, 0.603);
//   width: 10%;
// }

.middle-card, footer {
  margin: 5px 25px;
}

.middle-card {
  text-align: justify;
}

footer {
  text-align: center;
}

footer .social-icon {
  /* padding: 7%; */
  font-size: 20px;
  margin: 0 5%;
  color: rgba(0, 0, 0, .9);
}

.facebook:hover {color:#3b5999;}
.twitter:hover {color: #55acee;}
.google:hover {color: #dd4b39;}
.github:hover {color: #302f2f;}
.linkedin:hover {color: #0077B5;}

footer .links {
  border-top: 2px solid rgba(0, 0, 0, .1);
  text-align: center;
  margin-top: 10px;
  padding: 8px 0;
}

footer .links  address {
  font-size: 15px;
}

footer .links a { 
  text-decoration: none;
  font-weight: 600;
  color: rgba(0, 0, 0, .9);
}


/* ANIMATION */
@keyframes rotate {
  0% {
      transform-origin: left bottom;
      transform: rotate3d(0, 0, 1, 45deg);
      opacity: 0;
  }
  100% {
      transform-origin: left bottom;
      transform: none;
      opacity: 1;
  }
}